<head>
    <title>Zora Neale Hurston Books</title>
    <link rel = "stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Zora Neale Hurston</h1>
        <nav>
            <a href="/">View Books</a>
            <a href="/order">Order Books</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p><em>Copyright by Jada Cosby</em></p>
    </footer>
</body>